body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 200px;
    width: 100%;
}

#header-image {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#content-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    height: fit-content;
    padding: 2%;
}

#submission-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: fit-content;
    width: 55%;
    background-color: #DDDDDD;
    border: ridge 3px #b6b6b6;
    border-radius: 5px;
    margin: 1% 0;
}

#top-row {
    display: flex;
    align-items: center;
}

.col-left-50 h1 {
    margin-left: 25%;
}

#completed-label {
    background-color: rgb(166, 255, 166);
    border: 3px ridge rgb(0, 255, 0);
    border-radius: 5px;
    width: 70%;
    text-align: center;
    visibility: visible;

}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.row {
    margin-bottom: 20px;
}

.col-left-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.label {
    padding-left: 25%;
}

.label, .inputBox, .subscript {
    font-size: 12px;
}

#firstName, #lastName, .nameLabel {
    font-size: 14px !important;
    font-weight: bold;
}

#email, #emailLabel {
    font-style: italic;
}

.subscript {
    margin-left: 10px;
}

.col-right-50 {
    float: right;
    width: 50%;
    margin-top: 6px;
}

.inputBox {
    height: 30px;
    border: ridge 2px #c5c5c5;
    border-radius: 5px;
    width: 70%;
    padding-left: 5px;
}

#referredFrom {
    width: 73% !important;
}

.required {
    color: #ff0000;
    font-weight: bold;
}

#other-row {
    display: none;
}

.tc-container{
    display: flex;
    align-items: center;
}

#termsAndConditions {
    margin-left: 5%;
}

#termsAndConditionsBtn {
    color: #ff0000;
}

#termsAndConditionsBtn:visited {
    color: #c00000;
}

#submitBtn {
    width: 40%;
    margin-left: 25%;
    padding: 5px 0;
}

footer {
    min-height: 65px;
    color: #ffffff;
    background-color: #1D242B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(100, 100, 100, 0.5);
}
  
.modal-content {
    width: fit-content;
    padding: 20px;
    font-size: 16px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 15px;
    margin: 15% auto;
}

.modal-content h2 {
    text-align: center;
    user-select: none;
}

.modal-content ul {
    margin-left: -20px;
    list-style-type:circle;
}

#modal-footer {
    display: flex;
    justify-content: right;
}

#closeBtn {
    font-size: 16px;
    padding: 8px 16px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#closeBtn:hover {
    background-color: #dfdfdf;
}


@media screen and (max-width: 1300px) {
    #submission-form {
        width: 80%;
    }
}

@media screen and (max-width: 1061px) {
    #submission-form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #completed-label {
        width: 80%;
    }
}

@media screen and (max-width: 449px) {
    #completed-label {
        width: 100%;
    }

    #top-row {
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .col-left-50, .col-right-50 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        float: none;
        width: 100%;
    }
    
    .col-left-50 label {
        padding-left: 0;
    }
    
    .col-right-50 {
        float: none;
        width: 100%;
    }

    #termsAndConditions, #submitBtn, .col-left-50 h1 {
        margin-left: 0;
    }
}